<h1>Listing feeds</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Selector</th>
    <th>Url pattern</th>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Image source</th>
    <th>Date tag</th>
    <th>Host</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feeds.each do |feed| %>
  <tr>
    <td><%= feed.url %></td>
    <td><%= feed.selector %></td>
    <td><%= feed.url_pattern %></td>
    <td><%= feed.title %></td>
    <td><%= feed.subtitle %></td>
    <td><%= feed.image_source %></td>
    <td><%= feed.date_tag %></td>
    <td><%= feed.host %></td>
    <td><%= link_to 'Show', feed %></td>
    <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
    <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New', new_feed_path %>
