<%= form_for [:admin, @feed] do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label><%= f.label :favicon %></label>
  <%= f.text_field :favicon, :class => 'input-xxlarge' %>

  <label><%= f.label :selector %></label>
  <%= f.text_field :selector, :class => 'input-xxlarge' %>

  <label><%= f.label :featured_level %></label>
  <%= f.number_field :featured_level, :type => "number" %>

  <label><%= f.label :limit %></label>
  <%= f.text_field :limit, :type => "number" %>

  <label><%= f.label :url %></label>
  <%= f.text_field :url %>

  <label><%= f.label :host %></label>
  <%= f.text_field :host %>

  <label><%= f.label :url_pattern %></label>
  <%= f.text_field :url_pattern %>

  <label><%= f.label :title %></label>
  <%= f.text_field :title %>

  <label><%= f.label :subtitle %></label>
  <%= f.text_field :subtitle %>

  <label><%= f.label :image_source %></label>
  <%= f.text_field :image_source %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
