<p id="notice"><%= notice %></p>

<p>
  <b>favicon:</b>
  <%= image_tag(@feed.favicon) %>
</p>

<p>
  <b>Url:</b>
  <%= @feed.url %>
</p>

<p>
  <b>Selector:</b>
  <%= @feed.selector %>
</p>

<p>
  <b>Url pattern:</b>
  <%= @feed.url_pattern %>
</p>

<p>
  <b>Title:</b>
  <%= @feed.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @feed.subtitle %>
</p>

<p>
  <b>Image source:</b>
  <%= @feed.image_source %>
</p>

<p>
  <b>Host:</b>
  <%= @feed.host %>
</p>

<fieldset>
  <p><%= "Tempo de resposta: #{@response_time.sec}s" %>
  <%= link_to 'Edit', edit_admin_feed_path(@feed) %> |
  <%= link_to 'Back', admin_feeds_path %>
  <legend>Preview</legend>
  <ul>
    <% @news.each do |n| %>
      <li>
        <a href="<%= n.url %>" target="_blank">
          <% if n.image %>
            <img class="image-news" src="<%= n.image %>">
          <% end %>
          <% if n.title %>
            <span class="title-news"><%= n.title %></span>
          <% end %>
          <% if n.subtitle && n.subtitle != n.title %>
            <span class="title-news"><%= n.subtitle %></span>
          <% else %>
            <span class="subtitle-news"><%= n.subtitle %></span>
          <% end %>
        </a>
      </li>
    <% end %>
  </ul>
</fieldset>
