<ul id="featured_news" class="news left">
  <% @timeline.featured_news.each do |n| %>
    <li class="featured">
      <a target="_blank" href="<%= n.url %>">
        <div class="featured-title">
          <%= n.title %>
        </div>
        <% if n.image %>
          <div class="featured-img-border">
            <img src="<%= n.image %>">
          </div>
        <% end %>
        <div class="featured-description">
          <%= n.subtitle %>
        </div>
        <div class="news-source"><%= n.feed.url %></div>
      </a>
    </li>
  <% end %>
</ul>
<ul "plain_news" class="news center">
  <% @timeline.plain_news.each do |n| %>
    <li>
      <a target="_blank" href="<%= n.url %>">
        <div class="middle-title">
          <%= n.title %>
        </div>
        <% if n.image %>
          <div class="news-center-img-border">
            <img src="<%= n.image %>">
          </div>
        <% end %>
        <div class="middle-description">
          <%= n.subtitle %>
        </div>
        <div class="news-source"><%= n.feed.url %></div>
      </a>
    </li>
  <% end %>
</ul>
<ul id="preview" class="news images">
  <li>
    <a href="#">
      <img src="http://s2.glbimg.com/lDFtkFA3oAnQJ8Cl3a3TJ9RPD8eezfDb0AGcLZO4GCkyQ5RpzEJzLonIJQY4gd7t/s2.glbimg.com/_dGt5W8Jvr_Wv4a98ShEqxUoyQ8IyB9YT2cGDIhOPPNj5wLGPKmJl7_AkdUdgNq2zCzi0ZSsOMpLSV2-nMSAIg==/s.glbimg.com/es/ge/f/original/2012/09/26/torcida_flamengo3_janirjunior1024.jpg">
      <div class="img-description">
        Torcedor leva ‘milhão’ para pagar R49 e cambistas agem no Engenhão
      </div>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://s2.glbimg.com/R4YY2OS0YBOQvVfX989tdnyuEJz0l47m3spbmv7PthHe0CrvXi-XH0KsEx2DIXlC/s2.glbimg.com/ZRa8uEsdTrt2M_v8yPYdA0fQ4feOmP0juijL4Efpk-vU-O-Wca4Yk7WrFtcw-03nO8bHOCf-NIm31wMeaKkzmA==/s.glbimg.com/en/ho/f/original/2012/09/26/pequeno.jpg">
      <div class="img-description">
        Operação prende 'Pequeno Príncipe' e o suposto maior traficante do Brasil
      </div>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://s.glbimg.com/po/tt/f/original/2012/09/25/pole.png">
      <div class="img-description">
        Vídeo do YouTube compila os maiores ‘fails’ em ‘pole dance’
      </div>
    </a>
  </li>
</ul>
<%= javascript_include_tag 'jquery-1.8.2.min', 'instant_preview' %>
