<section class="breaking-news visible">
  <ul>
    <% @news.each do |n| %>
      <li>
        <a href="<%= n.url %>" target="_blank">
          <% if n.image %>
            <img class="image-news" src="<%= n.image %>">
          <% end %>
          <% if n.title %>
            <p class="title-news"><%= n.title %></p>
          <% end %>
          <% if n.subtitle && n.subtitle != n.title %>
            <p class="title-news"><%= n.subtitle %></p>
          <% else %>
            <p class="subtitle-news"><%= n.subtitle %></p>
          <% end %>
        </a>
      </li>
    <% end %>
  </ul>
</section>
