<ul class="news left">
  <li class="featured">
    <a target="_blank" href="http://tvg.globo.com/novelas/avenida-brasil/Vem-por-ai/noticia/2012/09/tufao-conta-para-familia-que-jorginho-e-agata-sao-filhos-de-max.html">
      <div class="featured-title">
        Tufão choca ao falar sobre Max
      </div>
      <img src="http://s2.glbimg.com/m-fhH68RDFYUFUQK4zSZ8Jv2RltOVo3feQ7BoT7IbCdIoz-HdGixxa_8qOZvMp3w/s.glbimg.com/et/nv/f/original/2012/09/24/tufao_leleco_ivana.jpg">
      <div class="featured-description">
        Tufão conta para família que Jorginho e Ágata são filhos de Max
      </div>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://www.techtudo.com.br/jogos/noticia/2012/09/fifa-13-divulga-seus-15-melhores-atletas-thiago-silva-e-unico-brasileiro.html">
      <div>Fifa 13 divulga seus 15 melhores atletas; Thiago Silva é único brasileiro</div>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://www.techtudo.com.br/noticias/noticia/2012/09/jogador-da-nba-iman-shumpert-usa-iphone-5-como-bola-de-basquete.html">
      <div>Jogador de basquete usa iPhone 5 como bola e não se dá bem; veja o vídeo</div>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://g1.globo.com/rio-de-janeiro/noticia/2012/09/bope-apreende-metralhadora-da-primeira-guerra-em-esgoto-do-rio.html">
      <div>RJ: Bope acha metralhadora antiaérea da 1ª Guerra Mundial dentro de esgoto</div>
    </a>
  </li>
</ul>
<ul class="news center">
    <li>
      <a target="_blank" href="http://globoesporte.globo.com/sportv/programas/sportv-news/noticia/2012/09/familia-garante-passagens-para-torcer-unida-pelo-corinthians-no-japao.html">
        <div class="middle-title">
          Família garante passagens para torcer unida pelo Corinthians no Japão
        </div>
        <img src="http://s2.glbimg.com/cbEiNYVRUaz9O1dh47Q8SHQABYRqoSSGqzvo-AP-_oLBR8akRCrEPTHhsyPtvPvA/s2.glbimg.com/yg1dbTyLjY2nACv4XiaS1I4jIhN62nvMx9isVbWNcr-S0GNYqw1Wyjkw_eRlTRMF/s.glbimg.com/es/ge/f/original/2012/09/25/familia.jpg">
        <div class="middle-description">
          Após o filho garantir lugar, outros integrantes resolveram adquirir pacotes para acompanhar o Timão no Mundial de Clubes, em dezembro, em Tóquio
        </div>
      </a>
    </li>
    <li>
      <a target="_blank" href="http://www.techtudo.com.br/jogos/noticia/2012/09/confira-todos-os-clubes-nacionais-e-seus-respectivos-uniformes-em-fifa-13.html">
        <div class="middle-title">
          Fifa 13: veja os uniformes de times brasileiros, entre licenciados e 'genéricos'
        </div>
        <img src="http://s.glbimg.com/po/tt/f/original/2012/09/25/fifa_13.jpg">
        <div class="middle-description">
          Após o filho garantir lugar, outros integrantes resolveram adquirir pacotes para acompanhar o Timão no Mundial de Clubes, em dezembro, em Tóquio
        </div>
      </a>
    </li>
    <li>
      <a target="_blank" href="http://tvg.globo.com/novelas/avenida-brasil/Vem-por-ai/noticia/2012/09/leleco-confronta-max-sobre-seu-passado-no-lixao.html">
        <div class="middle-title">
          Leleco confronta Max sobre seu passado no lixão
        </div>
        <img src="http://s2.glbimg.com/c2zSgD7ZmishKs4BxTWYih9lENzTCOJ4C8XkDjXhJtpIoz-HdGixxa_8qOZvMp3w/s.glbimg.com/et/nv/f/original/2012/09/22/leleco.jpg">
        <div class="middle-description">
          Malandro mente para o sogro e se esquiva do interrogatório
        </div>
      </a>
    </li>
    <li>
      <a target="_blank" href="http://revistacrescer.globo.com/Revista/Crescer/1,,EMI319762-17729,00.html">
        <div class="middle-title">
          Menino de 7 anos é tão forte que pode puxar um carro
        </div>
        <img src="http://s2.glbimg.com/cHTxY0VTfhgOvYZBT2NrREl0dBAvNFsMEnjP1wFPHDU_JP3bsSgOzynLByyvBvqI/s2.glbimg.com/eazO8rCUBJxflr_e3VSO3N7yIVIntFD9cbR3iLOenFcjk3s4H8-x1az7VBuAiPSX9es-Sh1nDb4rulkMH3xoXg==/s.glbimg.com/en/ho/f/original/2012/09/25/chines.jpg">
        <div class="middle-description">
          O chinesinho de 50 kg virou uma celebridade instantânea em seu país
        </div>
      </a>
    </li>
</ul>
<ul class="news images">
  <li>
    <a href="#">
      <img src="http://s2.glbimg.com/lDFtkFA3oAnQJ8Cl3a3TJ9RPD8eezfDb0AGcLZO4GCkyQ5RpzEJzLonIJQY4gd7t/s2.glbimg.com/_dGt5W8Jvr_Wv4a98ShEqxUoyQ8IyB9YT2cGDIhOPPNj5wLGPKmJl7_AkdUdgNq2zCzi0ZSsOMpLSV2-nMSAIg==/s.glbimg.com/es/ge/f/original/2012/09/26/torcida_flamengo3_janirjunior1024.jpg">
      <div class="img-description">
        Torcedor leva ‘milhão’ para pagar R49 e cambistas agem no Engenhão
      </div>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://s2.glbimg.com/R4YY2OS0YBOQvVfX989tdnyuEJz0l47m3spbmv7PthHe0CrvXi-XH0KsEx2DIXlC/s2.glbimg.com/ZRa8uEsdTrt2M_v8yPYdA0fQ4feOmP0juijL4Efpk-vU-O-Wca4Yk7WrFtcw-03nO8bHOCf-NIm31wMeaKkzmA==/s.glbimg.com/en/ho/f/original/2012/09/26/pequeno.jpg">
      <div class="img-description">
        Operação prende 'Pequeno Príncipe' e o suposto maior traficante do Brasil
      </div>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://s.glbimg.com/po/tt/f/original/2012/09/25/pole.png">
      <div class="img-description">
        Vídeo do YouTube compila os maiores ‘fails’ em ‘pole dance’
      </div>
    </a>
  </li>
</ul>
<section class="breaking-news visible">
  <ul>
    <% @news.each do |n| %>
      <li>
        <a href="<%= n.url %>" target="_blank">
          <% if n.image %>
            <img class="image-news" src="<%= n.image %>">
          <% end %>
          <% if n.title %>
            <p class="title-news"><%= n.title %></p>
          <% end %>
          <% if n.subtitle && n.subtitle != n.title %>
            <p class="title-news"><%= n.subtitle %></p>
          <% else %>
            <p class="subtitle-news"><%= n.subtitle %></p>
          <% end %>
        </a>
      </li>
    <% end %>
  </ul>
</section>
<!--
<ul class="news left">
  <li class="featured">
    <a target="_blank" href="http://tvg.globo.com/novelas/avenida-brasil/Vem-por-ai/noticia/2012/09/tufao-conta-para-familia-que-jorginho-e-agata-sao-filhos-de-max.html">
      <div class="featured-title">
        Tufão choca ao falar sobre Max
      </div>
      <img src="http://s2.glbimg.com/m-fhH68RDFYUFUQK4zSZ8Jv2RltOVo3feQ7BoT7IbCdIoz-HdGixxa_8qOZvMp3w/s.glbimg.com/et/nv/f/original/2012/09/24/tufao_leleco_ivana.jpg">
      <div class="featured-description">
        Tufão conta para família que Jorginho e Ágata são filhos de Max
      </div>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://www.techtudo.com.br/jogos/noticia/2012/09/fifa-13-divulga-seus-15-melhores-atletas-thiago-silva-e-unico-brasileiro.html">
      <div>Fifa 13 divulga seus 15 melhores atletas; Thiago Silva é único brasileiro</div>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://www.techtudo.com.br/noticias/noticia/2012/09/jogador-da-nba-iman-shumpert-usa-iphone-5-como-bola-de-basquete.html">
      <div>Jogador de basquete usa iPhone 5 como bola e não se dá bem; veja o vídeo</div>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://g1.globo.com/rio-de-janeiro/noticia/2012/09/bope-apreende-metralhadora-da-primeira-guerra-em-esgoto-do-rio.html">
      <div>RJ: Bope acha metralhadora antiaérea da 1ª Guerra Mundial dentro de esgoto</div>
    </a>
  </li>
</ul>
<ul class="news center">
    <li>
      <a target="_blank" href="http://globoesporte.globo.com/sportv/programas/sportv-news/noticia/2012/09/familia-garante-passagens-para-torcer-unida-pelo-corinthians-no-japao.html">
        <div class="middle-title">
          Família garante passagens para torcer unida pelo Corinthians no Japão
        </div>
        <img src="http://s2.glbimg.com/cbEiNYVRUaz9O1dh47Q8SHQABYRqoSSGqzvo-AP-_oLBR8akRCrEPTHhsyPtvPvA/s2.glbimg.com/yg1dbTyLjY2nACv4XiaS1I4jIhN62nvMx9isVbWNcr-S0GNYqw1Wyjkw_eRlTRMF/s.glbimg.com/es/ge/f/original/2012/09/25/familia.jpg">
        <div class="middle-description">
          Após o filho garantir lugar, outros integrantes resolveram adquirir pacotes para acompanhar o Timão no Mundial de Clubes, em dezembro, em Tóquio
        </div>
      </a>
    </li>
    <li>
      <a target="_blank" href="http://www.techtudo.com.br/jogos/noticia/2012/09/confira-todos-os-clubes-nacionais-e-seus-respectivos-uniformes-em-fifa-13.html">
        <div class="middle-title">
          Fifa 13: veja os uniformes de times brasileiros, entre licenciados e 'genéricos'
        </div>
        <img src="http://s.glbimg.com/po/tt/f/original/2012/09/25/fifa_13.jpg">
        <div class="middle-description">
          Após o filho garantir lugar, outros integrantes resolveram adquirir pacotes para acompanhar o Timão no Mundial de Clubes, em dezembro, em Tóquio
        </div>
      </a>
    </li>
    <li>
      <a target="_blank" href="http://tvg.globo.com/novelas/avenida-brasil/Vem-por-ai/noticia/2012/09/leleco-confronta-max-sobre-seu-passado-no-lixao.html">
        <div class="middle-title">
          Leleco confronta Max sobre seu passado no lixão
        </div>
        <img src="http://s2.glbimg.com/c2zSgD7ZmishKs4BxTWYih9lENzTCOJ4C8XkDjXhJtpIoz-HdGixxa_8qOZvMp3w/s.glbimg.com/et/nv/f/original/2012/09/22/leleco.jpg">
        <div class="middle-description">
          Malandro mente para o sogro e se esquiva do interrogatório
        </div>
      </a>
    </li>
    <li>
      <a target="_blank" href="http://revistacrescer.globo.com/Revista/Crescer/1,,EMI319762-17729,00.html">
        <div class="middle-title">
          Menino de 7 anos é tão forte que pode puxar um carro
        </div>
        <img src="http://s2.glbimg.com/cHTxY0VTfhgOvYZBT2NrREl0dBAvNFsMEnjP1wFPHDU_JP3bsSgOzynLByyvBvqI/s2.glbimg.com/eazO8rCUBJxflr_e3VSO3N7yIVIntFD9cbR3iLOenFcjk3s4H8-x1az7VBuAiPSX9es-Sh1nDb4rulkMH3xoXg==/s.glbimg.com/en/ho/f/original/2012/09/25/chines.jpg">
        <div class="middle-description">
          O chinesinho de 50 kg virou uma celebridade instantânea em seu país
        </div>
      </a>
    </li>
</ul>
<ul class="news images">
  <li>
    <a href="#">
      <img src="http://s2.glbimg.com/lDFtkFA3oAnQJ8Cl3a3TJ9RPD8eezfDb0AGcLZO4GCkyQ5RpzEJzLonIJQY4gd7t/s2.glbimg.com/_dGt5W8Jvr_Wv4a98ShEqxUoyQ8IyB9YT2cGDIhOPPNj5wLGPKmJl7_AkdUdgNq2zCzi0ZSsOMpLSV2-nMSAIg==/s.glbimg.com/es/ge/f/original/2012/09/26/torcida_flamengo3_janirjunior1024.jpg">
      <div class="img-description">
        Torcedor leva ‘milhão’ para pagar R49 e cambistas agem no Engenhão
      </div>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://s2.glbimg.com/R4YY2OS0YBOQvVfX989tdnyuEJz0l47m3spbmv7PthHe0CrvXi-XH0KsEx2DIXlC/s2.glbimg.com/ZRa8uEsdTrt2M_v8yPYdA0fQ4feOmP0juijL4Efpk-vU-O-Wca4Yk7WrFtcw-03nO8bHOCf-NIm31wMeaKkzmA==/s.glbimg.com/en/ho/f/original/2012/09/26/pequeno.jpg">
      <div class="img-description">
        Operação prende 'Pequeno Príncipe' e o suposto maior traficante do Brasil
      </div>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://s.glbimg.com/po/tt/f/original/2012/09/25/pole.png">
      <div class="img-description">
        Vídeo do YouTube compila os maiores ‘fails’ em ‘pole dance’
      </div>
    </a>
  </li>
</ul>
-->
