<ul id="featured_news" class="news left">
  <% @timeline.featured_news.each do |n| %>
    <li class="featured">
      <a target="_blank" href="<%= n.url %>">
        <% if n.image %>
          <div class="featured-img-border">
            <img src="<%= n.image %>">
          </div>
        <% end %>
        <div class="<%= 'content-text-img' if n.image %>">
          <div class="featured-title">
            <%= n.title %>
          </div>
          <div class="featured-description">
            <%= n.subtitle %>
          </div>
          <div class="news-source"><%= n.feed.url %></div>
        </div>
      </a>
    </li>
  <% end %>
</ul>
<%= javascript_include_tag 'add2home' %>
