<p id="notice"><%= notice %></p>

<p>
  <b>Host:</b>
  <%= @news_feed.host %>
</p>

<p>
  <b>Selector:</b>
  <%= @news_feed.selector %>
</p>

<p>
  <b>Url pattern:</b>
  <%= @news_feed.url_pattern %>
</p>

<p>
  <b>Title:</b>
  <%= @news_feed.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @news_feed.subtitle %>
</p>

<p>
  <b>Image source:</b>
  <%= @news_feed.image_source %>
</p>

<p>
  <b>Date tag:</b>
  <%= @news_feed.date_tag %>
</p>


<%= link_to 'Edit', edit_news_feed_path(@news_feed) %> |
<%= link_to 'Back', news_feeds_path %>
