<!DOCTYPE html>
<html>
<head>
  <title>Atualidades|Web</title>
  <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
  <body>
	<!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

  	<div class="area">
          <nav class="navbar">
              <div class="navbar-inner">
                  <a class="brand" href="#">Atualidades | Web</a>
                  <!--
                  <ul class="nav">
                    <li class="active"><a href="#">Início</a></li>
                  </ul>
                  -->
              </div>
          </nav>
          <div class="separator"></div>
          <%= yield %>
    </div>
    <footer></footer>
    <script type="text/javascript">
        <%= yield :javascript %>
    </script>


    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38184587-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
