<!DOCTYPE html>
<html>
<head>
  <title>Atualidades|Web</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'mobile', :media => 'screen and (max-width: 320px)' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <section class="logo"></section>
    <div id="content">
        <%= yield %>
    </div>
    <%= javascript_include_tag "application", 'hiddenAddressBar' %>
    <script type="text/javascript">
        <%= yield :javascript %>
    </script>
</body>
</html>
