<!DOCTYPE html>
<html>
<head>
  <title>Atualidades|Web</title>
  <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="author" content="Atualidades|Web"/>
  <meta name="description" content="As principais notícias do Brasil e do mundo estão por aqui!
" />
  <meta name="keywords" content="atualidades, web, noticias, news, breaking, brasil, brazil, mundo, world, economia, esporte, lazer, entretenimento, politica, cultura" />
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
  <body>
	<!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

  	<div class="area">
          <nav class="navbar">
              <div class="navbar-inner">
                  <a class="brand" href="#">Atualidades | Web</a>
                  <ul class="nav">
                    <li>
                      <div id="fb-like" class="fb-like" data-href="http://atualidadesweb.com.br" data-send="true" data-width="100" data-show-faces="true" data-layout="button_count" data-font="lucida grande" data-action="recommend"></div>
                    </li>
                    <!--li class="active"><a href="#">Início</a></li -->
                  </ul>
              </div>
          </nav>
          <div class="separator"></div>
          <%= yield %>
    </div>
    <footer></footer>
    <div id="fb-root"></div>
    <script type="text/javascript">
        <%= yield :javascript %>
    </script>
    <script type="text/javascript">
    // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38184587-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      // Facebook
      (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=272370542894863";
            fjs.parentNode.insertBefore(js, fjs);
            d.getElementById('fb-like').style.marginTop = "10px";
          }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
