<!DOCTYPE html>
<html>
<head>
  <title>Pontodevista</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <section class="logo"></section>
    <div id="content">
        <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
        <%= yield :javascript %>
    </script>
</body>
</html>
