<!DOCTYPE html>
<html>
<head>
  <title>Atualidades|Web</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
  <body>
	<!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

  	<div class="area">
          <nav class="navbar">
              <div class="navbar-inner">
                  <a class="brand" href="#">Notícias</a>
                  <ul class="nav">
                    <li class="active"><a href="index.html">Início</a></li>
                    <li><a href="#">Esportes</a></li>
                    <li><a href="#">Mundo</a></li>
                  </ul>
              </div>
          </nav>
          <div class="separator"></div>
          <div>
              <ul class="news left">
                <li class="featured">
                  <a target="_blank" href="http://tvg.globo.com/novelas/avenida-brasil/Vem-por-ai/noticia/2012/09/tufao-conta-para-familia-que-jorginho-e-agata-sao-filhos-de-max.html">
                    <div class="featured-title">
                      Tufão choca ao falar sobre Max
                    </div>
                    <img src="http://s2.glbimg.com/m-fhH68RDFYUFUQK4zSZ8Jv2RltOVo3feQ7BoT7IbCdIoz-HdGixxa_8qOZvMp3w/s.glbimg.com/et/nv/f/original/2012/09/24/tufao_leleco_ivana.jpg">
                    <div class="featured-description">
                      Tufão conta para família que Jorginho e Ágata são filhos de Max
                    </div>
                  </a>
                </li>
                <li>
                  <a target="_blank" href="http://www.techtudo.com.br/jogos/noticia/2012/09/fifa-13-divulga-seus-15-melhores-atletas-thiago-silva-e-unico-brasileiro.html">
                    <div>Fifa 13 divulga seus 15 melhores atletas; Thiago Silva é único brasileiro</div>
                  </a>
                </li>
                <li>
                  <a target="_blank" href="http://www.techtudo.com.br/noticias/noticia/2012/09/jogador-da-nba-iman-shumpert-usa-iphone-5-como-bola-de-basquete.html">
                    <div>Jogador de basquete usa iPhone 5 como bola e não se dá bem; veja o vídeo</div>
                  </a>
                </li>
                <li>
                  <a target="_blank" href="http://g1.globo.com/rio-de-janeiro/noticia/2012/09/bope-apreende-metralhadora-da-primeira-guerra-em-esgoto-do-rio.html">
                    <div>RJ: Bope acha metralhadora antiaérea da 1ª Guerra Mundial dentro de esgoto</div>
                  </a>
                </li>
              </ul>
              <ul class="news center">
                  <li>
                    <a target="_blank" href="http://globoesporte.globo.com/sportv/programas/sportv-news/noticia/2012/09/familia-garante-passagens-para-torcer-unida-pelo-corinthians-no-japao.html">
                      <div class="middle-title">
                        Família garante passagens para torcer unida pelo Corinthians no Japão
                      </div>
                      <img src="http://s2.glbimg.com/cbEiNYVRUaz9O1dh47Q8SHQABYRqoSSGqzvo-AP-_oLBR8akRCrEPTHhsyPtvPvA/s2.glbimg.com/yg1dbTyLjY2nACv4XiaS1I4jIhN62nvMx9isVbWNcr-S0GNYqw1Wyjkw_eRlTRMF/s.glbimg.com/es/ge/f/original/2012/09/25/familia.jpg">
                      <div class="middle-description">
                        Após o filho garantir lugar, outros integrantes resolveram adquirir pacotes para acompanhar o Timão no Mundial de Clubes, em dezembro, em Tóquio
                      </div>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="http://www.techtudo.com.br/jogos/noticia/2012/09/confira-todos-os-clubes-nacionais-e-seus-respectivos-uniformes-em-fifa-13.html">
                      <div class="middle-title">
                        Fifa 13: veja os uniformes de times brasileiros, entre licenciados e 'genéricos'
                      </div>
                      <img src="http://s.glbimg.com/po/tt/f/original/2012/09/25/fifa_13.jpg">
                      <div class="middle-description">
                        Após o filho garantir lugar, outros integrantes resolveram adquirir pacotes para acompanhar o Timão no Mundial de Clubes, em dezembro, em Tóquio
                      </div>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="http://tvg.globo.com/novelas/avenida-brasil/Vem-por-ai/noticia/2012/09/leleco-confronta-max-sobre-seu-passado-no-lixao.html">
                      <div class="middle-title">
                        Leleco confronta Max sobre seu passado no lixão
                      </div>
                      <img src="http://s2.glbimg.com/c2zSgD7ZmishKs4BxTWYih9lENzTCOJ4C8XkDjXhJtpIoz-HdGixxa_8qOZvMp3w/s.glbimg.com/et/nv/f/original/2012/09/22/leleco.jpg">
                      <div class="middle-description">
                        Malandro mente para o sogro e se esquiva do interrogatório
                      </div>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="http://revistacrescer.globo.com/Revista/Crescer/1,,EMI319762-17729,00.html">
                      <div class="middle-title">
                        Menino de 7 anos é tão forte que pode puxar um carro
                      </div>
                      <img src="http://s2.glbimg.com/cHTxY0VTfhgOvYZBT2NrREl0dBAvNFsMEnjP1wFPHDU_JP3bsSgOzynLByyvBvqI/s2.glbimg.com/eazO8rCUBJxflr_e3VSO3N7yIVIntFD9cbR3iLOenFcjk3s4H8-x1az7VBuAiPSX9es-Sh1nDb4rulkMH3xoXg==/s.glbimg.com/en/ho/f/original/2012/09/25/chines.jpg">
                      <div class="middle-description">
                        O chinesinho de 50 kg virou uma celebridade instantânea em seu país
                      </div>
                    </a>
                  </li>
              </ul>
              <section class="news images">
                <div class="title-area">Imagens</div>
              </section>
          </div>

    </div>



    <%= yield %>

    <%= javascript_include_tag 'jquery-1.8.2.min' %>
    <script type="text/javascript">
        <%= yield :javascript %>
    </script>


  	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!-- TODO:: adicionar o ID do Google Analytics -->
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
